<div class="hide-for-large m-bottom">
  <span class="text-small">
    <%= t("step", scope: "layouts.decidim.initiative_signature_creation_header", current: current_step, total: wizard_steps) %>
    (<a data-toggle="steps"><%= t("see_steps", scope: "layouts.decidim.initiative_signature_creation_header") %></a>)
  </span>
  <ol id="steps" class="wizard__steps steps-toggle is-hidden" data-toggler=".is-hidden">
    <% if fill_personal_data_step? %>
      <%= content_tag :li, t("fill_personal_data", scope: "layouts.decidim.initiative_signature_creation_header"), class: action_name == "fill_personal_data" ? "step--active" : nil %>
    <% end %>
    <% if sms_step? %>
      <%= content_tag :li, t("sms_phone_number", scope: "layouts.decidim.initiative_signature_creation_header"), class: action_name == "sms_phone_number" ? "step--active" : nil %>
      <%= content_tag :li, t("sms_code", scope: "layouts.decidim.initiative_signature_creation_header"), class: action_name == "sms_code" ? "step--active" : nil %>
    <% end %>
    <%= content_tag :li, t("finish", scope: "layouts.decidim.initiative_signature_creation_header"), class: action_name == "finish" ? "step--active" : nil %>
  </ol>
</div>
