<div class="columns large-3">
  <div class="m-bottom">
    <%= link_to initiative_path current_initiative do %>
      <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %> <%= t(".back") %>
    <% end %>
  </div>
  <div class="section">
    <p>
      <%= t(".title", initiative_title: translated_attribute(current_initiative.title)) %>
    </p>
  </div>
  <div class="show-for-large">
    <ol class="wizard__steps">
      <% if fill_personal_data_step? %>
        <%= content_tag :li, t("fill_personal_data", scope: "layouts.decidim.initiative_signature_creation_header"), class: action_name == "fill_personal_data" ? "step--active" : nil %>
      <% end %>
      <% if sms_step? %>
        <%= content_tag :li, t("sms_phone_number", scope: "layouts.decidim.initiative_signature_creation_header"), class: action_name == "sms_phone_number" ? "step--active" : nil %>
        <%= content_tag :li, t("sms_code", scope: "layouts.decidim.initiative_signature_creation_header"), class: action_name == "sms_code" ? "step--active" : nil %>
      <% end %>
      <%= content_tag :li, t("finish", scope: "layouts.decidim.initiative_signature_creation_header"), class: action_name == "finish" ? "step--active" : nil %>
    </ol>
  </div>
</div>
